.search-bar-wrapper {
  display: flex;
  height: 2.5rem;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow properties */
  border-style: none;
}

.search-create-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Adjust spacing as needed */
}

.search-bar {
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  border-style: none;
  padding: 8px;
  border-radius: 10px;
  font-size: 1rem;
}

.search-bar:focus {
  outline: none;
}

.table-container {
  margin: 20px;
  width: auto;
  height: auto;
}

.table-container h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.update-style,
.delete-style {
  font-size: 1.25rem;
  color: #4d4d4d;
}

.update-style {
  margin-right: 10px;
}

.delete-style:hover {
  color: red;
}

.update-style:hover {
  color: green;
}

.create-user-btn {
  background-color: #f77d32;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(114, 59, 4, 0.15) 0 1px 2px, rgba(240, 121, 48, 0.15) 0 2px 4px,
    rgba(176, 80, 2, 0.15) 0 4px 8px, rgba(227, 145, 74, 0.15) 0 8px 16px,
    rgba(187, 101, 44, 0.15) 0 16px 32px;
  color: rgb(33, 37, 33);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 28px;
}

.create-user-btn:hover {
  box-shadow: rgba(228, 183, 123, 0.35) 0 -25px 18px -14px inset,
    rgba(181, 153, 96, 0.25) 0 1px 2px, rgba(241, 89, 63, 0.25) 0 2px 4px,
    rgba(187, 120, 44, 0.25) 0 4px 8px, rgba(210, 143, 0, 0.25) 0 8px 16px,
    rgba(232, 169, 74, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.plus-icon {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .create-user-btn {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    margin-bottom: 30px;
  }
  .create-user-btn .text {
    display: none; /* Hide the text on smaller screens */
  }

  .create-user-btn .plus-icon {
    display: inline-block;
    margin: auto;
    font-size: 25px;
  }
}
/* @media screen and (max-width: 430px) {
  .search-bar-wrapper {
    width: 150px;
  }
}

@media screen and (max-width: 280px) {
  .create-user-btn {
    font-size: 10px;
  }
  .search-bar-wrapper {
    width: 140px;
  }
} */

/* Basic styling */
.form-container {
  max-width: 800px;
  margin: 50px auto 0;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(247, 125, 50);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 40px;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"],
input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.create-account-sb-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #1b1d1f;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #71716e;
}

.view-more {
  font-size: 0.9rem;
}

.assignInstructorButton {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(33, 37, 33);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.assignInstructorButton:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.Styles {
  background-color: #f9a646;
}

/* Home page style */

/* .homeContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
  margin-top: 20px;
} */

.homeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  margin: 0; /* Reset the margin on the grid container */
}

.card-title {
  color: #262626;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}

.small-desc {
  font-size: 1em;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #6293c8, #384c6c);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card {
  display: block;
  position: relative;
  max-width: 300px;
  max-height: 320px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
  font-family: Arial, Helvetica, sans-serif;
}

.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #364a60, #384c6c);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card:hover:before {
  transform: scale(28);
}

.card:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .homeContainer {
    grid-template-columns: repeat(
      auto-fit,
      minmax(250px, 1fr)
    ); /* Adjust as needed */
  }
}

/* pagination style */
.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjust margin as needed */
  padding-bottom: 100px;
}

.pagination-buttons {
  display: flex;
  gap: 10px; /* Adjust the spacing between buttons */
}

.next-prev {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #42c2df;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.next-prev:hover {
  background: rgb(197, 197, 218);
}

.next-prev:active {
  transform: scale(0.95);
}

/* specific subject details styles */
