body {
  background-color: #f0f0f0; /* Change this color to your preferred background color */
  /* Other body styles */
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.login-register-form {
  margin-top: 200px;
}
